.collapsebtn {

  padding: 10px;
  position: absolute; /* Absolute positioning */
  left: 10px; /* Distance from the left edge */
  top: 50%; /* Position at the vertical center */
  transform: translateY(-50%); /* Center vertically */

  }