@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600..900;1,600..900&display=swap');

.logoheader {
  background-color: #ffffff;
  height: 80px;
  position: relative;
  width:auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.collapsebtn {

  padding: 10px;
  position: absolute; /* Absolute positioning */
  left: 10px; /* Distance from the left edge */
  top: 50%; /* Position at the vertical center */
  transform: translateY(-50%); /* Center vertically */

  }

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #b1b7b9;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: auto;
  margin-left:-140px;
  height: 55px;
  width: 55px;
}

.navs {

display: flex;
gap:400px;

}



.logoheading {
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:35PX;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(128, 255, 212);
}

.navbtn {
  padding: 9px 25px;
  margin-left: 20px;
  background-color: rgb(43, 174, 131, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbtn:hover {
  background-color: rgb(43, 174, 131, 0.8);
}
