@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

.btn {
  text-transform: uppercase;
  background-color: red;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}