.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  min-height: 250px; /* Adjust height as needed */
  min-width: 300px; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
